html {
  height: 100%;
  overflow: auto;
}

body {
  display: block;
  text-align: center;
  /* width: 100%;
  max-width: 100%; */
  height: 100%;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
  background-image: url(/images/dot-clipart.png);
  background-size: 400px 400px;
  background-color: #9bb5c7; /* Колір фону */
}

input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: medium;
  background-color: white;
  color: black;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
}

ul {
  list-style: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.more {
  display: block;
}

.isHiden {
  display: none;
}

img {
  width: 400px;
  height: 250px;
  margin-right: 10px;
}

.stats {
  display: flex;
  justify-content: center;
}

p {
  margin: 10px;
}
