body {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 1100px;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
  background-image: url(/images/dot-clipart.png);
  background-size: 400px 400px;
  background-color: #9bb5c7; /* Колір фону */
}

input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: medium;
  background-color: white;
  color: black;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
}

ul {
  list-style: none;
}
.galary {
  display: flex;
}

.more {
  display: block;
}

.isHiden {
  display: none;
}

/* 
img {
  display: block;
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

.container {
  text-align: center;
  max-width: 1100px;
}

#query {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: medium;
}
.articles {
  padding-left: 10%;
  padding-right: 10%;
}

.country-name {
  margin-bottom: 20px;
  text-align: center;
}
.country-info {
  display: flex;
  justify-content: space-evenly;
}

.desc {
  margin-bottom: 15px;
  font-size: x-large;
  line-height: normal;
}

.lang-item,
.country-item {
  font-size: x-large;
  margin-top: 12px;
  padding-left: 20px;
}
.lang-item::before,
.country-item::before {
  color: black;
  content: '\2022';
  font-size: 26px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 12px;
} */
